.notice {
    background:#F8FAFC url(../images/information.png) no-repeat scroll 15px 50%;
    border-bottom:2px solid #B5D4FE;
    border-top:2px solid #B5D4FE;
    padding:5px 20px 5px 45px;
    text-align:left;
}
.alert {
	background: #fff6bf url(../images/exclamation.png) no-repeat scroll 15px 50%;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #ffd324;
	border-bottom: 2px solid #ffd324;
}

.fg-button {
	outline: 0; 
   	text-decoration:none !important; 
   	cursor:pointer; 
   	position: relative; 
   	text-align: center; 
   	zoom: 1; 
	cursor:pointer;
	padding:2px 6px;
}

.fg-button a:hover {
	color: #C3593C;
}

.icon {
	border: 0;
}

dl.kv {
	border: solid 1px;
	padding: 10px;
}
dl.kv dt {
	font-size: 1.2em;
	color: #C3593C;
}
dl.kv dd {
	font-size: 1.5em;
	margin-bottom: 10px;
}
