.uniForm {
    background: #efefef;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Verdana, sans-serif;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.35);
}

.uniForm .ctrlHolder ol li label {
    font-size: 0.85em;
}

.uniForm .buttonHolder {
    margin: 0 0 0;
    padding: 0.5em;
}

.uniForm fieldset legend {
    padding: 0.2em 0.5em;
    font-size: 1em;
	font-weight: normal;
}

.uniForm .ctrlHolder{ padding: 0.6em; }

form.formtastic ol, form.formtastic ul {
    list-style: none;
}

.disclaimer {
    background: none repeat scroll 0 0 #DBE7F1;
    border-bottom: 1px solid #C4D2DB;
    margin: 0px 0px 0px;
    padding: 28px;
    text-align: center;
}

form.formtastic legend { white-space:nowrap; color:#000; }

form.formtastic fieldset > ol > li.string input, 
form.formtastic fieldset > ol > li.password input, 
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.email input,
form.formtastic fieldset > ol > li.url input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.search input { width:53%;}

form.formtastic fieldset > ol > li.string input[size], 
form.formtastic fieldset > ol > li.password input[size], 
form.formtastic fieldset > ol > li.numeric input[size],
form.formtastic fieldset > ol > li.email input[size],
form.formtastic fieldset > ol > li.url input[size],
form.formtastic fieldset > ol > li.phone input[size],
form.formtastic fieldset > ol > li.search input[size] { width:auto; max-width:53%; }

form.formtastic fieldset > ol > li p.inline-errors { color:#cc0000; margin:0.5em 0 0 25%; font-size: 0.7em; display: block;}
