<div id="header">
	<div id="logo">
	  <h1>Kia Ora</h1>
	</div>
	<ul class="menu adxm">
	    <li>
        <%= link_to 'Homepage', '#' %>
	    </li>
	    <li>
	    	<% if(user_signed_in?) %>
				<%= link_to '登出', destroy_user_session %>
			<% else %>
				<%= link_to '登录', new_user_session %>
			<% end %>
	    </li>
	</ul>
</div>
<%= render :partial => 'layouts/notification' %>
