<div id="header">
	<div id="logo">
	  <h1>Kia Ora</h1>
	</div>
	<ul class="menu adxm">
	    <li>
        <%= link_to 'Homepage', '#' %>
	    </li>
	    <li>
	</ul>
</div>
<%= render :partial => 'layouts/notification' %>
